[2022-03-02 23:32] B2o5T commented on #977
Hi, you have the wrong `parserOptions` setup.
[code]

[2022-03-02 23:32] #977 closed

[2022-03-02 23:33] #947 closed

[2022-03-04 21:21] davidNHK opened #978 "Autofix alphabet order on operation error"
**Describe the bug**
When autofix alphabet parameter it only able to sort parameter name

**To Reproduce**
Steps to reproduce the behavior:

Give

[code]

**Expected behavior**

[code]
**Actual Result**
[code]

**Environment:**

- OS:
- `@graphql-eslint/...`:
- NodeJS:

**Additional context**

[2022-03-04 21:30] davidNHK commented on #978
It not a big deal if you covered you code with test coz it would prompt you error immediately

if no test covered then i think you would need turn off the alphabet rules meanwhile

[2022-03-05 11:07] #978 closed

[2022-03-05 11:15] B2o5T commented on #978
fixed in [@graphql-eslint/eslint-plugin@3.9.0](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.9.0) 🚀

[2022-03-05 11:16] B2o5T commented on #964
fixed in [@graphql-eslint/eslint-plugin@3.9.0](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.9.0) 🚀

[2022-03-05 11:16] #964 closed

[2022-03-05 11:18] B2o5T commented on #833
available in [@graphql-eslint/eslint-plugin@3.9.0](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.9.0) 🚀

[2022-03-05 11:24] B2o5T commented on #955
I will close this issue because this cannot be improved by `graphql-eslint`. ESLint does not allow more than 10 autofix passes for a rule.
https://github.com/eslint/eslint/blob/b93af98b3c417225a027cabc964c38e779adb945/lib/linter/linter.js#L44

Feel free to open related issue in `eslint` repo if you want to make this constant configurable or use `patch-package` to change this value.

[2022-03-05 11:24] #955 closed

[2022-03-06 01:16] B2o5T opened #981 "`GraphQL-ESLint` v4 Roadmap"
- [x] Node 12/14/16 drop support https://github.com/B2o5T/graphql-eslint/pull/1793
- [x] Support <s>ESLint 9</s>, drop support for ESLint 7 <s>and 8</s> (require at least 8.44) https://github.com/B2o5T/graphql-eslint/pull/1812
- [x] Support GraphQL 17 https://github.com/B2o5T/graphql-eslint/pull/1793
- [x] <s>Bundle to ESM only</s>
- [x] <s>rename `parserOptions.operations` to `parserOptions.docum

[2022-03-07 12:11] aronwoost opened #983 "Inconsistent validation of `known-fragment-names` with `union` type"
**Describe the bug**

When using `known-fragment-names` on a `union` typed field, I get different results depending on if it's wrapped in another fragment or not.

**To Reproduce**

1. Checkout this repo: https://github.com/aronwoost/eslint-graphql-case
2. Run `npm run lint1`
3. Run `npm run lint2`

Result: `lint1` errors, `lint2` passes.

**Expected behavior**

Both commands should return the sam

[2022-03-08 00:10] joshribakoff-sm opened #984 "Surface underlying error messages if schema loading fails"
**Is your feature request related to a problem? Please describe.**

[code]

Gives you a non descript error
![Screen Shot 2022-03-07 at 4 09 06 PM](https://user-images.githubusercontent.com/97546767/157139639-cb3b5fe5-0878-4c4e-9a55-2ccf0c539581.png)

**Describe the solution you'd like**
Surface the original error if the schema cannot be loaded:

[code]

[2022-03-08 00:20] joshribakoff-sm opened #985 "Watch schema files"
**Is your feature request related to a problem? Please describe.**
I have to reload my editor window everytime I edit the schema. Eg.

[code]

now edit to this:
[code]

Gives:

Once the user reloads vscode, eslint restarts and your plugin rereads the schema and the stale error is fixed. This is annoying.

**Describe the solution you'd like**
If eslint is running in watch mode, watch the underlying

[2022-03-08 11:39] B2o5T commented on #985
duplicate https://github.com/B2o5T/graphql-eslint/issues/593

[2022-03-08 11:39] #985 closed

[2022-03-08 17:10] joshribakoff-sm commented on #593
I just wanted to add that in #985 I describe that this also affects linting of the schema in the backend, not just the operations in the frontend. The issue is not specific to monorepos or frontend operations :)

[2022-03-09 16:29] sujithgowda opened #987 "parserOptions.schema error for require-id-when-available rule"
**Describe the bug**
Trying to validate queries in apollo client under gql tag results in  following error
Error while loading rule '@graphql-eslint/require-id-when-available': Rule 'require-id-when-available' requires 'parserOptions.schema' to be set and schema to be loaded

use the following eslintrc.json file

`{
  "root": true,
  "ignorePatterns": ["**/*"],
  "plugins": ["@nrwl/nx"],
  "overri

[2022-03-11 07:17] n3ps opened #988 "Doesn't do anything in a Next + Relay project"
**Describe the bug**
Doesn't seem to do anything. I am expecting it to show warnings or errors.

**To Reproduce**
Steps to reproduce the behavior:
- Follow the instructions in the README
- yarn add -D @graphql-eslint/eslint-plugin
- update the plugins list
[code]

- add the overrides section

[code]

**Expected behavior**
Expect lint rules to be processed

**Environment:**

- OS: Big Sur
- `@graph

[2022-03-11 12:00] B2o5T commented on #27
@connorjs @domkm I have implemented 3 new rules according to Relay spec for validating Connection types, Edge types and `PageInfo` object. The rule for `Arguments` spec will be implemented later.

Also for validation Edge types, I added 3 configurable options that don’t strict in Relay spec:
- Enforce that Edge type end in “Edge”
- The edge type’s field `node` must implement `Node` interface
- A l

[2022-03-11 14:23] B2o5T commented on #988
Hi @n3ps, to help you I need a reproduction repo or some debug information of your configuration.

Please install `@graphql-eslint/eslint-plugin@3.9.1-alpha-ebcc06f.0` alpha version that includes debugging printing.
After installation run `DEBUG=graphql-eslint:* eslint .` and show your output.

[2022-03-11 14:24] B2o5T commented on #987
Hi @sujithgowda, to help you I need a reproduction repo or some debug information of your configuration.

Please install `@graphql-eslint/eslint-plugin@3.9.1-alpha-ebcc06f.0` alpha version that includes debugging printing.
After installation run `DEBUG=graphql-eslint:* eslint .` and show your output.

[2022-03-11 15:47] n3ps commented on #988
@B2o5T I tried the above and the output is quite large but I do see the lint working and you made a good point. It worked using vanillla `eslint` and I was using `next lint` which seems to ignore this specific plugin.

[2022-03-12 10:18] #988 closed

[2022-03-13 12:39] #459 closed

[2022-03-13 13:43] B2o5T commented on #983
Hi @aronwoost, thank you for your report and reproduction repo 👍!
I can confirm that there is a bug. This will be fixed on the next version of `graphql-eslint`.

[2022-03-13 13:55] B2o5T commented on #976
Hi @akosradler, sorry for the long response, I couldn't reproduce your error 🤷‍♂️.
Can you create a reproduction repo with minimal dependencies?

Operation
[code]

Schema
[code]

[2022-03-14 15:19] akosradler commented on #976
Hi @B2o5T
No worries, here's a reproduction repo.
https://github.com/akosradler/reslint-graphql-unknown-fragment

Everything is in the readme, but feel free to reach out.

Thank you

[2022-03-14 16:44] B2o5T commented on #976
Thanks for the reproduction, it's a similar issue like in <https://github.com/B2o5T/graphql-eslint/issues/983>
I will fix it in the next version of `graphql-eslint` with covered tests 👍

[2022-03-14 18:44] B2o5T commented on #983
fixed in [@graphql-eslint/eslint-plugin@3.9.1](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.9.1)

[2022-03-14 18:44] #983 closed

[2022-03-14 18:44] B2o5T commented on #976
fixed in [@graphql-eslint/eslint-plugin@3.9.1](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.9.1)

[2022-03-14 18:44] #976 closed

[2022-03-16 13:32] connorjs commented on #27
TL;DR - Can we (a) add `relay` to plugin array literal and (b) add support for a Scalar type instead of String for cursors. Otherwise, AWESOME 😎

---

@B2o5T - Do we need to add the plugin (`relay`) to [this array](https://github.com/B2o5T/graphql-eslint/blob/master/packages/plugin/src/index.ts#L9)?

I have added the rules directly in the mean-time. 👍🏻 My feedback follows.

1. (page-info) Thoughts

[2022-03-16 22:50] B2o5T commented on #27
@connorjs Thank you for your feedback 😍💪

Exactly, this was my mistake, now this should be fine as I added also a test to test that the `relay` config is properly loaded.

I think we can support by default a non-null String/Scalar for `startCursor`/`endCursor` as we do for the `cursor` field in edge types.

For your particular case if you still want to use `interface Connection` approach you can s

[2022-03-17 16:45] aronwoost commented on #983
I can confirm that it works! 🎉 Thank you!

[2022-03-18 07:29] aronwoost opened #993 "eslint cache does not get invalidated when `.graphqlconfig` is changed"
**Describe the bug**
eslint cache does not get invalidated when `.graphqlconfig` is changed.

**To Reproduce**
Steps to reproduce the behavior:

Check this repo: https://github.com/aronwoost/graphql-eslint-cache-invalidation
How to reproduce: https://github.com/aronwoost/graphql-eslint-cache-invalidation/blob/master/README.md

**Expected behavior**
eslint cache should get invalidated when `.graphq

[2022-03-18 17:57] B2o5T commented on #993
Hi @aronwoost, thanks for the report and reproduction.
I was able to reproduce, but unfortunately I don't have an idea how this can be fixed 🤷‍♂️

[2022-03-20 10:57] aronwoost commented on #993
😁 This is fine, I guess. Not sure how `eslint` is doing the hole cache invalidation.

Anyway, feel free to close this ticket. At least it's here for reference.

Workaround: make sure you also do a change to `.eslintrc` to invalidate the cache (can also only be adding a comment).

[2022-03-22 05:26] chengyin opened #995 "Not able to config naming convention for Relay fragments"
Relay [recommends](https://relay.dev/docs/guided-tour/rendering/fragments/) `<module_name>_<property_name>` style naming for fragments. e.g., `UserComponent_user`. This is neither pascal case nor snake case. As far as I know, there is no way to config the naming convention rule to check for this type (I'd define it as `[PascalCase]_[camelCase]`). Allowing a custom regex would also work.

[2022-03-23 14:15] mogelbrod opened #996 "Error when loading schema from graphql.config.yaml - schema.getQueryType is not a function"
**Describe the bug**
Attempting to run graphql linting relying on graphql.config.js currently appears to fail with the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Linting errors related to the actual query

**Environment:**

- Mac OS Monterey (M1)
- @graphql-eslint/eslint-plugin@3.9.1
- eslint@8.11.0
- graphql@16.3.0
- NodeJS v17.5.0

[2022-03-24 00:47] lhrinaldi opened #997 "`graphql-js` warning"
**Describe the bug**

I think it's isn't a bug, but just a misconfiguration from my side. I've tried to find a solution for this in a bunch of places without luck. Decided to open an issue to try to find out more.

These are happening:

[code]

**To Reproduce**
Steps to reproduce the behavior:

My configuration:

[code]

**Expected behavior**
no warnings

[2022-03-24 06:49] B2o5T commented on #997
Hi, which version of graphql-js are you using?

[2022-03-24 13:56] lhrinaldi commented on #997
To be honest I'm not sure, I have to `graphql` dependencies:

[code]

I've tried to install and update the `graphql-js` package but npm says it doesn't exist. I'm for sure missing something here.

[2022-03-24 14:21] lhrinaldi commented on #997
Makes a lot of sense! Thanks for clarifying.

[2022-03-24 14:42] B2o5T commented on #997
Also, keep in mind that extending `plugin:@graphql-eslint/operations-recommended` config and overriding `"@graphql-eslint/naming-convention": "warn"` rule will check only for forbidding trailing/leading underscores.
Feel free to copy options in [these lines](https://github.com/B2o5T/graphql-eslint/blob/master/packages/plugin/src/configs/operations-recommended.json#L12-L27) and change severity to `

[2022-03-24 15:49] lhrinaldi commented on #997
Nice call out, will do! Ty!

[2022-03-24 20:28] B2o5T commented on #996
Hi @mogelbrod, thank you for your report and reproduction!
I was able to reproduce, seems like the error goes from `graphql-tools` and not from `graphql-eslint`.
I leave this issue open until we fix `graphql-tools`.

Will back soon 🦸‍♂️

[2022-03-24 22:05] mogelbrod commented on #996
@B2o5T Got it! Do you want me to file an issue on https://github.com/ardatan/graphql-tools/issues?

[2022-03-25 00:15] B2o5T commented on #996
@mogelbrod no need, I already told 👌 fix with test https://github.com/ardatan/graphql-tools/pull/4334 was merged, so I’ll release a fix for graphql-eslint also soon.

[2022-03-27 13:33] #27 closed

[2022-03-27 17:02] B2o5T commented on #987
I close this issue as I didn't receive a response

[2022-03-27 17:02] #987 closed

[2022-03-28 21:43] joshribakoff-sm opened #1007 "naming-convention rule bug - single letter field name"
**Describe the bug**
I have a single letter field name, it is lowercase which I consider valid snake case.

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

**Expected behavior**
It should not be an error, as this otherwise is valid snake case

**Environment:**

- OS: mac
- `@graphql-eslint/...`: 3.8.0
- NodeJS: 16

**Additional context**
If I make the name 2 characters long the

[2022-03-28 23:38] B2o5T commented on #1007
Hi @joshribakoff-sm, thank you for your report, saw this bug also for `UPPER_CASE` style, this will be fixed on the next version of `graphql-eslint` 🚀. Added related tests also

[2022-03-29 00:05] joshribakoff-sm commented on #1007
Thanks!!

[2022-03-29 00:36] #1007 closed

[2022-03-29 01:06] B2o5T commented on #996
fixed in [@graphql-eslint/eslint-plugin@3.10.0](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.0)

[2022-03-29 01:06] #996 closed

[2022-03-29 01:07] B2o5T commented on #1007
fixed in [@graphql-eslint/eslint-plugin@3.10.0](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.0)

[2022-03-29 01:08] B2o5T commented on #27
Available in [@graphql-eslint/eslint-plugin@3.10.0](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.0)

[2022-03-29 01:09] B2o5T commented on #984
enhanced in [@graphql-eslint/eslint-plugin@3.10.0](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.0)

![image](https://user-images.githubusercontent.com/7361780/160512255-7f788f1b-3b2b-42d0-846a-c1abbd3e84c1.png)

![image](https://user-images.githubusercontent.com/7361780/160512275-c09695b2-f078-43f4-8465-06a5fbf5f5d0.png)

[2022-03-29 01:09] #984 closed

[2022-03-29 01:23] B2o5T commented on #76
I'll close this issue since all most necessary rules were implemented

|graphql-schema-linter|graphql-eslint|
|:-|:-|
|arguments-have-descriptions|someone need this?
|defined-types-are-used|[no-unreachable-types](https://github.com/dotansimha/graphql-eslint/blob/master/docs/rules/no-unreachable-types.md)
|deprecations-have-a-reason|[require-deprecation-reason](https://github.com/dotansimha/graphql

[2022-03-29 01:23] #76 closed

[2022-03-29 11:06] PatrykWalach commented on #988
`next lint` seems to ignore `"overrides"` in general

[2022-03-31 08:50] jukben opened #1009 "`relay-page-info` doesn't follow actual Connection specification"
**Describe the bug**

Apparently the [Connection](https://github.com/facebook/relay/blob/main/website/spec/Connections.md#fields-2) spec changed and `startCursor` and `endCursor` is might be nullable.

Unfortunately, I don't know why this information is not present in the rendered version as well. (https://relay.dev/graphql/connections.htm) but I [reached out](https://discord.com/channels/62540065

[2022-03-31 08:52] jukben commented on #1009
I propose to create PR losing the rule for `startCursor` and `endCursor`. I'm willing to do the PR once we agree this is something we want to do (I truly belive it is) 🚀

[2022-03-31 12:11] B2o5T commented on #1009
Thank you for reporting it. While developing this rule I was looking at this page https://relay.dev/graphql/connections.htm#sec-undefined.PageInfo.Fields

Where was it written:

Btw, I'll fix it today, feel free to share your experience with the new rules. Thank you @jukben!

[2022-03-31 13:36] B2o5T commented on #1009
@jukben @Balvajs fixed in [@graphql-eslint/eslint-plugin@3.10.1](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.1)

[2022-03-31 13:36] #1009 closed

[2022-04-02 09:35] aronwoost commented on #993
For reference: https://github.com/eslint/eslint/issues/12578

[2022-04-02 23:17] B2o5T commented on #993
@aronwoost thanks for the reference, seems like currently this can't be fixed, so I close this issue for now

[2022-04-02 23:17] #993 closed

[2022-04-04 11:33] grubersjoe opened #1017 "Support selecting IDs with an alias in require-id-when-available rule"
In our code base we sometimes select the `id` of a type with an alias as follows:

[code]

In this case the `require-id-when-available` rule will fail, because `id` is in fact not selected directly. However, using such an alias guarantees that the resolved data will contain an `id` field (if this is an unique key is another question). So I think the rule should also support this pattern.

I have s

[2022-04-05 08:58] grubersjoe commented on #1017
Okay I've opened a MR here: https://github.com/B2o5T/graphql-eslint/pull/1019

[2022-04-06 19:42] wheeler opened #1021 "3.10.x processor causes eslint to not enforce normal rules in code files"
# Describe the bug

I have a config with the processor being used on code files. When upgrading to `3.10.x` all non-graphql-code lint rules are not being enforced anymore. Downgrading to `3.9.1` restores enforcement of eslint code rules.

**To Reproduce**
Steps to reproduce the behavior:
- in the eslint config, use the `graphql-eslint` processor config on js files
[code]
- make lint errors in non-

[2022-04-06 22:16] #1021 closed

[2022-04-06 22:18] #1017 closed

[2022-04-06 22:25] B2o5T commented on #1021
Hi @wheeler thanks for the report and investigation, you are totally right, preprocess method should always return `code` string, I improved a test for this case for the future.

Fixed in [`@graphql-eslint/eslint-plugin@3.10.2`](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.2)

[2022-04-06 22:26] B2o5T commented on #1017
@grubersjoe available in [`@graphql-eslint/eslint-plugin@3.10.2`](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.2)

Thank you for your first contribution 🎉

[2022-04-12 00:10] B2o5T commented on #960
Hi @tubbo, sorry for the long response, do you find a solution for your problem or maybe you still need help?

[2022-04-22 19:46] tnrich opened #1038 "Issue with "@graphql-eslint/graphql" processor"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-04-22 23:15] B2o5T commented on #1038
You have an invalid configuration of ESLint
Add the following to fix your error output
[code]
I'm closing it since there is nothing wrong with `graphql-eslint`

[2022-04-22 23:50] tnrich commented on #1038
Hey @B2o5T thanks for you quick response. Unfortunately I'm still seeing this issue after updating the eslint config as suggested:

https://user-images.githubusercontent.com/2730609/164822232-bde2512c-4a53-478c-81e1-d471cf1f16aa.mov

I suggest re-opening. I've pushed the updates to https://github.com/TeselaGen/teselagen-react-components/tree/tnrDemonstrateLintingWeirdness

[2022-04-22 23:53] tgreen7 commented on #1038
here is a minimal repo with the same issue https://github.com/tgreen7/graphql-eslint-test

<img width="652" alt="Screen Shot 2022-04-22 at 4 53 04 PM" src="https://user-images.githubusercontent.com/10415101/164827606-d1d77f67-eb88-4153-baf2-ed9e4c1fe9e4.png">

[2022-04-23 17:52] #1038 closed

[2022-04-23 18:18] B2o5T commented on #1038
@tnrich @tgreen7 thank you guys, can confirm that `graphql-eslint` had an issue with the processor, which I fixed in [`3.10.3`](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.3) version.
Try it!

[2022-05-02 10:10] #960 closed

[2022-05-02 10:24] dotansimha commented on #960
@tubbo I think you might need to add a custom schema for `graphql-eslint`, because it might not have the knowledge of those directives added in the codegen plugin.

[2022-05-10 13:18] Berger92 opened #1064 "TS compilation error when using graphql v15"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-05-15 12:01] eng-dibo opened #1070 "wrong documentation for eslint.validate"
`eslint.validate` is now obselated as of [eslint extension docs](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint).

please mention that warning or remove `eslint.validate` from vscode integration section

[2022-05-16 17:32] B2o5T commented on #1070
Thanks for the hint 👍, updated!

[2022-05-16 17:32] #1070 closed

[2022-05-16 17:37] B2o5T commented on #1064
For the moment we use `"skipLibCheck": true` in our `tsconfig.json` https://github.com/B2o5T/graphql-eslint/blob/master/tsconfig.json#L24

[2022-05-17 10:16] AvronNet opened #1073 "alphabetize rule doesn't support nested query objects"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-05-17 18:58] B2o5T commented on #1073
Your GraphQL document is invalid, you have a missing `}` bracket at the end, I can't reproduce your error even with a valid document. Consider submitting a PR with the failed test in this file https://github.com/B2o5T/graphql-eslint/blob/master/packages/plugin/tests/alphabetize.spec.ts if you really found a problem with this rule.

[2022-05-17 18:58] #1073 closed

[2022-05-24 07:03] ikesyo opened #1075 "Making it possible to require all of the given field names on `require-id-when-available`"
**Is your feature request related to a problem? Please describe.**
When using the `require-id-when-available` rule with passing an array of field names, the rule passes if one of the field names exists in the selection set. I want that all of them should exist in the selection set (all fields are required if the fields are defined on a type).

`some()` is used here: https://github.com/B2o5T/graphq

[2022-05-31 15:30] joelmukuthu opened #1076 "Support `ignoreClientDirectives` in operation definitions"
**Is your feature request related to a problem? Please describe.**

I have a graphql-eslint setup working well but ran into an issue with the `@graphql-eslint/known-directives` rule. I use https://www.npmjs.com/package/@habx/apollo-multi-endpoint-link which provides an `@api` client directive like so:

[code]

I've tried to ignore the `@api` as follows but this doesn't seem to work:

[code]

I was

[2022-06-01 13:11] joelmukuthu commented on #1076
Btw, since graphql-eslint already uses graphql-config, would it make sense to consume `customDirectives` from there?

[code]

[2022-06-02 00:10] #1076 closed

[2022-06-02 00:13] B2o5T commented on #1076
Hi @joelmukuthu, thanks for your report and suggestion 👍, I fixed it for operations in [3.10.4](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.4) version.
Also, I will think about removing this option in favour of `extensions.customDirectives` in the next major version of `graphql-eslint`.

[2022-06-02 14:21] hipgnosis opened #1082 "String Interpolation in gql statement causes graphql-eslinterror"
Even if the gql statement is prefaced with directives such as // eslint-disable-next-line the error still occurs, and can only be resolved by excluding the entire file is .eslintrc.json

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available

[2022-06-02 14:57] B2o5T commented on #1082
Hi @hipgnosis, unfortunately this can’t be fixed, your files should contain valid SDL with static definitions, not dynamic with string interpolation.

[2022-06-16 12:37] B2o5T commented on #1075
Hi @milashkaJason, does your issue related to `require-id-when-available`? Can you give more context or maybe make a reproduction repo?

[2022-06-16 23:48] ejkg opened #1085 "The directive "@specifiedBy" can only be used once at this location"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-17 05:04] therealgilles opened #1086 "Link to remote schema usage documentation is broken"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-17 07:44] therealgilles opened #1087 "Please clarify that the graphql-config has precedence over options like ParserOptions.operations"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-17 09:43] tgohn opened #1090 "JS uncaught error in selection-set-depth's suggestion feature"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-17 10:34] B2o5T commented on #1087
Thanks, would you want send a PR to this change? Also, in next major (v4) field `parserOptions.operations` will be renamed to `parserOptions.documents` to make consistency with graphql-config

[2022-06-17 17:04] TimoWilhelm opened #1091 "graphql-eslint does not work with VSCode ESLint extension"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [x] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-17 17:37] ejkg commented on #1085
I was able to solve it, so I'll close. I'll leave some tips for anyone else who experiences something like this. This ended up being an issue with [GraphQL Mesh](https://github.com/Urigo/graphql-mesh) an orchestration framework that generates schemas and SDKs from remote data providers. Those schemas get placed in a temp folder that VSCode does not index, which is why I was not able to find the is

[2022-06-17 17:37] #1085 closed

[2022-06-18 19:48] therealgilles opened #1092 "graphql-eslint crashes ESLint"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-18 22:51] therealgilles commented on #1092
I made a bit of progress tracking down this issue. ESLint still crashes on the command line but only crashes inside VSCode if I have the following in .vscode/settings.json:

[code]

Now ESLint still crashes when run on the command line, which is certainly the preferable behavior.

[2022-06-18 22:56] therealgilles commented on #1092
Is there a reason why the preprocess code of the processor is not within a try/catch like below?

[code]

[2022-06-19 17:51] therealgilles opened #1094 "Associate a tag name to a particular project in the GraphQL config?"
**Is your feature request related to a problem? Please describe.**
I'm using GraphQL on Gatsby with the gatsby-source-wordpress plugin and WP-GraphQL. Gatsby generates and uses its own schema during its build process, while WP-GraphQL creates a different schema on the WordPress instance.

The Gatsby Graphql commands use the graphql template string, whereas the commands sent to WP-GraphQL through t

[2022-06-20 12:06] B2o5T commented on #1091
Hi @TimoWilhelm, can you provide a reproduction repo of your problem? This will be helpful 🙏

[2022-06-20 13:09] francois-spectre commented on #1075
I got the same issue and I finally get it work by disabling the rules
[code]

[2022-06-20 14:31] TimoWilhelm commented on #1091
Hi @B2o5T, I created an MRE at https://github.com/TimoWilhelm/mre-graphql-eslint-vscode.

To reproduce:
1. Clone the repo and open it with VSCode.
1. Make sure the `dbaeumer.vscode-eslint` extension is installed.
1. Open the `sample.graphql` file.
1. Edit anything and there should be a pop-up in the notification corner.

Otherwise you can check the ESLint output window for errors.

Please let me y

[2022-06-20 14:54] glenngijsberts opened #1095 "graphql-eslint is not working inside a Next.js project"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-20 22:36] B2o5T commented on #1095
Hi @glenngijsberts, thanks for the reproduction

Firsting first `next lint` don't work with `overrides` https://github.com/B2o5T/graphql-eslint/issues/988#issuecomment-1081732944, if you want to fix it please open an issue in Next.js repo. Replacing with `eslint .` will make `overrides` config works.

What is your expectation of working if you only extend `schema-recommended` config? Please follow

[2022-06-20 22:36] #1095 closed

[2022-06-20 23:32] B2o5T commented on #1091
1. You should use `parserOptions.operations` or `graphql-config` file but not a both in same time, remove `parserOptions.operations` from eslint config and add `documents: ./**/*.graphql` in your graphql-config.
2. Why do you extend `plugin:@graphql-eslint/schema-recommended` if your schema is remote? Actually for your project is make sense to lint `operations` but not schema types
3. I added some

[2022-06-21 07:05] TimoWilhelm commented on #1091
In my actual repo I actually have a mix between a remote schema and client-only schema, so the linter setup in the example doesn't really make sense, I agree!
And I also didn't really check if the `eslint` command works in the MRE, which I should have. In my main repo, invoking ESLint with the CLI works just fine.

There seems to be some activity about this issue @ https://github.com/larsgw/sync-f

[2022-06-26 06:56] dotansimha opened #1097 "Add a new example for a monorepo structure"
server and client developed in the same repo, using a shared eslint config defined in the root of the project.

[2022-06-26 07:43] B2o5T commented on #1097
Done already :)
https://github.com/B2o5T/graphql-eslint/tree/master/examples/monorepo

[2022-06-26 07:43] #1097 closed

[2022-06-26 07:44] dotansimha commented on #1097
oops, i missed that, thanks @B2o5T ❤️

[2022-06-28 08:09] Rigo-m opened #1102 "Cannot specify graphql-config path"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-06-28 08:53] B2o5T commented on #1102
Hi, can you provide a reproduction repo of your problem?

[2022-07-03 04:33] therealgilles commented on #1094
Hi @B2o5T, I thought I had described the use case above. In short, I use the `graphql` tag for Gatsby GraphQL requests (schema 1) and the `gql` for Apollo GraphQL requests (schema 2). It would be great to be able to associate a tag with specific graphql-eslint rules and a specific `project` in graphql-config.js, but maybe it's not a must.

[2022-07-03 08:01] B2o5T commented on #1094
For applying specific rules on specific files you can use overrides sections in eslint config. Take a look of config in monotepo example https://github.com/B2o5T/graphql-eslint/blob/master/examples/monorepo/.eslintrc.cjs

[2022-07-06 08:57] besfahbod opened #1106 "no-unreachable-types: Support document-only fragments"
**Is your feature request related to a problem? Please describe.**

It's common to have document-only `directive`s in schemas. Such schema items are, by definition, "unreachable".

Example:
[code]

The [no-unreachable-types](https://github.com/B2o5T/graphql-eslint/blob/master/docs/rules/no-unreachable-types.md) rule, however, does not understand this, and detects them as issues.

Of course, it's p

[2022-07-06 10:58] B2o5T commented on #1106
Hi @besfahbod thanks for your report. You are right, this rule should ignore all operations (request) directives.
<img width="538" alt="image" src="https://user-images.githubusercontent.com/7361780/177535233-4f91ce2a-6ed0-434d-8d2b-807eeeb58907.png">

This will be fixed, you can use `eslint-disable` comments temporarily

[2022-07-06 11:03] B2o5T commented on #1092
closing since this will be fixed in ESLint directly

[2022-07-06 11:03] #1092 closed

[2022-07-10 12:34] #1106 closed

[2022-07-10 13:35] #1090 closed

[2022-07-11 11:33] B2o5T commented on #1090
fixed in [@graphql-eslint/eslint-plugin@3.10.5](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.5)

Thanks for catch! Now there will be no suggestions for external fragments since we can apply fixes only for the actual file :)

[2022-07-11 11:34] B2o5T commented on #1102
closing due no activity

[2022-07-11 11:34] #1102 closed

[2022-07-12 23:03] gajus opened #1113 "alphabetize fails when property is aliased"
Input code:

[code]

Error:

[code]

This only fails when alias (such as `payoutCurrency: currency`) is present in the query.

[2022-07-13 01:00] #1113 closed

[2022-07-13 01:03] B2o5T commented on #1113
thanks, fixed in [@graphql-eslint/eslint-plugin@3.10.6](https://github.com/B2o5T/graphql-eslint/releases/tag/%40graphql-eslint%2Feslint-plugin%403.10.6)

[2022-07-18 17:32] ghmeier opened #1116 "Cached operations are not reset when source files change with eslint-plugin-webpack"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [x] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [x] 3. A local solution has been provided
- [x] 4. A pull request is pending

[2022-07-22 08:54] #1064 closed, assigned to nobody

[2022-07-23 01:59] benatshippabo opened #1117 "Fragments are not validated against `@graphql-eslint/require-id-when-available`"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [x] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-04 11:29] dchambers opened #1123 "Apollo Federation Support?"
## Problem

Hi 👋. Unless I'm overlooking something, `graphql-eslint` does not appear to support the linting of Apollo Federation GraphQL schemas. For example, the following is a valid federated schema:

[code]

Yet linting this schema yields this response:

[code]

This is because:

1. The federated machinery types that will be automatically added by the subgraph are not present in the source sche

[2022-08-04 11:39] B2o5T commented on #1123
Hi @dchambers 👋 graphql-eslint expect to receive full schema. You can manually extend your schema in your eslint config, see my comment https://github.com/B2o5T/graphql-eslint/discussions/1063#discussioncomment-2721160

[2022-08-04 12:50] dchambers commented on #1123
Thanks for the very speedy response @B2o5T! I actually did use the technique of using `parserOptions.schema` as a way of introducing the federation machinery types previously, but still hit the issue that we'd need to manually create stub types too. Given that the need for these will go away with Federation v2 I'm probably happy to hand edit these stub types until subgraphs switch over to Fed v2.

[2022-08-04 12:50] #1123 closed

[2022-08-05 16:27] Berger92 opened #1126 "`no-unreachable-types` doesn't seem to work properly when Query/Mutation types are defined in a separate file"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-05 17:04] B2o5T commented on #1126
It’s works perfectly fine, provide full schema for graphql-eslint

[code]

[2022-08-07 09:25] Berger92 commented on #1126
@B2o5T Thanks for the quick response. I've tried your proposed solution in the sandbox, but it doesn't work. Did I do something wrong again? 🤔
I've updated the sanbox.
<img width="1458" alt="image" src="https://user-images.githubusercontent.com/8849858/183284294-96190bdd-71e1-49b6-9b5a-9a81c1de5292.png">

[2022-08-08 10:22] #1126 closed

[2022-08-08 16:57] dotansimha opened #1128 "New rule: enforce a single mutation"
By default, should work for the root level of `Mutation`:

[code]

[code]

But also should be configurable to allow choosing the nesting level:

[code]

[code]

[2022-08-08 22:44] dontsave opened #1129 "breaking on duplicate schema"
Hi there. Is it possible to write a rule that would error if locally defined `@client` schema is a duplicate of schema from a remote endpoint? This would be very useful for projects in which client schema is written temporarily on the front-end and then implemented on the back-end later. It would be great to have the linter remind us to remove the local schema once it exists on the server

[2022-08-09 10:11] B2o5T commented on #1129
Hi, do you mean `@client` directives?

[2022-08-09 14:18] dontsave commented on #1129
I guess to simplify, what I mean is if we have schema defined in two places, say:

[code]

if `schema-1` contains a `type A` and `schema-2` also contains a `type A`, then we have duplicated schema. This breaks some tools like Apollo's VSCode extension. It would be great if we could be alerted of this by the linter to make sure those tools are always working. Is that possible?

[2022-08-10 15:51] ahernandez2-rbi opened #1130 "Rule `naming-convention` - FieldDefinition camelCase not honored for input fields"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-10 15:56] ahernandez2-rbi commented on #1130
This is actually configured under InputValueDefinition

[2022-08-10 15:56] #1130 closed

[2022-08-11 16:43] BrianBusby opened #1133 "Operations inside graphql`` statements are not being linted"
Not sure if this is a bug or just a feature: I have .graphql schema files being properly linted, but we use relay and our operations are defined inside `graphql` statements rather than `gql` and it seems the linter isn't finding them. I was sure to add the following  as an override per the instructions:

[code]

[2022-08-15 22:52] B2o5T commented on #1133
Hi, can you share your eslint config?

[2022-08-16 07:57] dotansimha opened #1137 "Enforce `@oneOf` output types for mutation fields"
We recently started using the following pattern for writing mutations:

[code]

This helps with the following:
* It's easier to communicate user errors in the response
* Errors can contain any additional info the client might need (error code, validation info and so on)
* Reduce the need to use `... on Error` and so on -  no need to specify `type` names in the query

[2022-08-16 07:59] dotansimha opened #1138 "`@oneOf` enforcing only nullable fields"
When `@oneOf` is used, there is a need to enforce that the fields under the `type` or `input` are all nullable.

[code]

[2022-08-16 08:05] B2o5T commented on #1138
Rule name? `no-one-of-non-nullable-fields`?

[2022-08-16 08:09] B2o5T commented on #1137
Rule name? `require-one-of-mutation-result-type-pattern` ?

[2022-08-16 08:17] dotansimha commented on #1138
maybe the other way around? `require-non-nullable-with-oneof`

[2022-08-16 08:20] B2o5T commented on #1138
`require-nullable-fields-with-oneof`? Fields must be nullable

[2022-08-16 08:21] B2o5T commented on #1137
Or `require-mutation-result-type-pattern-with-oneof`

[2022-08-16 09:15] B2o5T opened #1139 "new option `prefix` for `match-document-filename` rule"
in GraphQL Hive we have a convention of naming operations -> prefix them with `mutation.*`, `query.* `https://github.com/kamilkisiela/graphql-hive/tree/main/packages/web/app/src/graphql

Current rule support only `suffix` option https://github.com/B2o5T/graphql-eslint/blob/master/packages/plugin/src/rules/match-document-filename.ts#L23-L26

cc @dotansimha

[2022-08-16 09:21] B2o5T opened #1140 "allow to define custom sort order for `alphabetize` rule"
`alphabetize` rule is so powerful rule, that can sort all things in GraphQL

But in the types, we want that `id` field always comes first

cc @dotansimha

[2022-08-16 15:09] BrianBusby commented on #1133
We have a very large eslint config but I can give you an example of what I'm seeing:

the linting config I added around graphql operations are as follows:

[code]
when I run lint I get no issues, although I've put a few issues into the listed file:

[code]

the above operation has duplicate variable names, duplicate fields, and an anonymous operation.

If I change my eslint config to:

[code]

the

[2022-08-16 15:42] B2o5T commented on #1133
Take a look of this example with code files https://github.com/B2o5T/graphql-eslint/blob/master/examples/code-file/.eslintrc.cjs
You have an incorrect eslint configuration, split it to overrides sections

[2022-08-16 15:47] B2o5T commented on #1133
Also remove first `extends` from Product.tsx file, you don't need to run graphql-eslint rules on code files only on graphql files

[2022-08-16 18:45] BrianBusby commented on #1133
I should have been more clear; my lint config currently looks like this:

[code]

this produces no linting errors even though there are errors in the graphql operations inside the listed file.

[2022-08-16 19:14] B2o5T commented on #1133
Can you add simple reproduction repo? It will be simple to help you

[2022-08-16 21:03] Dodie324 commented on #1133
Having similar issues as @BrianBusby. I'm trying to migrate from `eslint-plugin-graphql`, but not sure this package is actually validating my queries/mutations written inside a `.ts` file.

Here is my config setup:

[code]

[2022-08-16 22:44] B2o5T commented on #1133
@Dodie324 Sorry but without reproduction repo I’m unable to help, your configuration seems to be valid and it follows configuration from examples

[2022-08-17 13:32] BrianBusby commented on #1133
@B2o5T I was able to fix the issue on my end; we initialize ESLint at a point in our front end linting workflow and .graphql needed to be added to the `extensions` property array. Thanks for trying to help.

[2022-08-17 13:32] #1133 closed

[2022-08-17 14:17] Dodie324 commented on #1133
@BrianBusby Can you share what your extensions array looks like now?

[2022-08-18 16:51] Dodie324 commented on #1133
Or can anyone else shed some light into what Brian is referring to by adding to the `extensions` property array?

[2022-08-18 17:36] BrianBusby opened #1143 "Problem with setting operations property on parserOptions when no operations in .graphql files"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-18 20:34] jocmp commented on #1143
Hey @BrianBusby I ran into a similar situation that led me to this issue.

I had some success with replacing the `operations` field with `documents`. The latter is a field supported via [GraphQL config](https://www.graphql-config.com/docs/library/load-config).

[code]

[2022-08-24 04:28] shogunsea opened #1145 "rule function gets called twice for each invalid test case"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [x] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-25 09:43] Berger92 opened #1146 "Type error in `RuleDocsInfo`"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-27 01:23] simkessy opened #1149 "Does this work with FlowTyped files?"
Does this work with FlowTypes?

Im getting this error:

[code]

config:

[code]

[2022-08-27 07:04] B2o5T commented on #1149
Hi, `graphql-eslint` uses [`graphql-tag-pluck`](https://www.graphql-tools.com/docs/graphql-tag-pluck) for extracting GraphQL documents that support `flow`, if you have some problems share a reproduction repo.

[2022-08-29 13:57] ammoradi commented on #1133
@Dodie324 I had the same issue with the following eslint configuration file and lint command:
`.eslintrc.js`:
[code]
`lint` command:
[code]

There were two problems:
1. we should avoid defining any top-level configurations as mentioned here [https://github.com/B2o5T/graphql-eslint/blob/master/examples/code-file/.eslintrc.cjs](https://github.com/B2o5T/graphql-eslint/blob/master/examples/code-file/.

[2022-08-30 16:09] Dodie324 commented on #1133
Thanks for looking into this @ammoradi . Adding that sample you linked would definitely be useful. Surprised it's not mentioned in the README cc @B2o5T

[2022-08-30 16:25] ardatan commented on #1133
@ammoradi Would you contribute to the docs with a PR?

[2022-08-31 10:38] Berger92 commented on #1146
Hey @B2o5T 👋
Any thought on this? 🙂

[2022-08-31 19:34] nikolaik commented on #1143
I had a legacy `.graphqlconfig` taking precedence over parserOptions that cased similar issues like described in the original post. After moving to a modern one one as described in [graphql-config docs](https://www.graphql-config.com/docs/user/usage#documents) all was well again

[2022-09-01 18:19] onsah commented on #1133
Can we document this in `README`? I wasted 2 hours to find this issue and fix the same problem.

[2022-09-03 15:59] B2o5T commented on #1146
Hi @Berger92 sorry for delay ! Will be fixed on next release!

[2022-09-03 16:00] B2o5T commented on #1149
Closed due silence

[2022-09-03 16:00] #1149 closed

[2022-09-05 08:24] Berger92 commented on #1146
Hi @B2o5T, no worries. Thanks for taking a look. If you like the proposed solution I'm happy to put the PR together.

[2022-09-08 17:11] JimmyPaolini opened #1155 "Apply graphql-tag-pluck config options"
**Is your feature request related to a problem? Please describe.**

I'm facing a problem that I can't lint my graphql queries because I'm using custom graphql-tag-pluck tag names that cannot be configured in graphql-eslint, so I think graphql-eslint should allow users to configure its graphql-tag-pluck options. I'm working on a project with multiple schemas with corresponding custom gql tags, and

[2022-09-08 17:19] B2o5T commented on #1155
Nice catch! Accepted, thank you!

[2022-09-08 18:33] JimmyPaolini commented on #1155
Do I need repo permission to implement this?

[2022-09-08 18:46] B2o5T commented on #1155
Nope, just fork and sent a PR, otherwise I’ll do it by myself and include this change in next release

[2022-09-12 19:40] jlowcs opened #1158 "Parsing issue when graphql code itself contains "graphql" or "gql""
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-15 18:39] joshribakoff-sm opened #1159 "rule to require selecting __typename"
`graphql-codegen` generates types that imply `__typename` will always be present, but that's only the case if you actually fetch that field. Therefore, it would be nice to have a lint rule that forces all queries to select `__typename` on every type.

[2022-09-15 18:53] B2o5T commented on #1159
Hi! Do you tied this rule? https://github.com/B2o5T/graphql-eslint/blob/master/docs/rules/require-id-when-available.md#asarray-array This rule will be renamed in next major version since not only `id` field can be required but any field you want

[2022-09-15 19:22] joshribakoff-sm commented on #1159
Seems like it should work, but from a quick look it seems like I could only require one field (eg. not both `id` and `__typename`)

Also, there seems to maybe be a possible feature request for the `graphql-codegen` to *not* assume `__typename` will be present, unless it is actually selected. I wasn't sure if I should file a symmetrical issue there on the other repo, I'm assuming the maintainers ar

[2022-09-15 19:36] B2o5T commented on #1159
Please take a look yet another time to documentation, `fieldName` option accept either string or array of strings

[2022-09-16 07:34] jonnyasmar commented on #593
Alrighty... So, this is a little heavy-handed, but it should be a viable workaround for most cases:

### tl;dr

1. Use the Run It On extension to watch for file changes and execute a command.
2. Use the multi-command extension to create a joint command that restarts both the eslint server and the vscode-graphql server. This might not be necessary, but in my case, just running one or the other does

[2022-09-16 16:27] joshribakoff-sm commented on #593
@jonnyasmar any reason to do it this way over moving the logic that reads the GQL schema out of the extension host (which I'm assuming only runs once when the process starts), and running it instead directly inside the lint rule (which is run each time code is changed). Some advantages would be that it could still lint in memory changes in unsaved files, and does not require restarting the extensi

[2022-09-16 16:36] jonnyasmar commented on #593
Yeh, it would be ideal to not have to restart the linters, but that's a bit over my head. Definitely just a hacky workaround here 😅

[2022-09-16 17:49] dylanwulf commented on #1070
Sorry I'm a bit confused. The `eslint.validate` option is obsolete, but it still seems to be necessary in order for this tool to work correctly in vscode? I can lint `.graphql` files in the CLI just fine, but in vscode it won't lint any `.graphql` files unless I specify this option. Is there another option that I'm missing?

[2022-09-18 11:46] tobiasdiez commented on #480
I still experience this bug. @B2o5T do you have a template that I could use to produce a reproduction? I would also suggest to add such a template prominently in the new issue template.

[2022-09-18 12:37] B2o5T commented on #480
Just a simple reproduction with minimal dependencies installed, take a look of examples folder for inspiration

[2022-09-18 15:53] tobiasdiez commented on #1143
I had the same issue and solved it by specifying `documents` in the graphql config file. It appears to me that once you have a config file, schema and documents need to be specified there:
https://github.com/B2o5T/graphql-eslint/blob/8a3b5843f2aa2b1cbd9c1021ef24a3005c5b0508/packages/plugin/src/parser.ts#L20-L24

[2022-09-18 19:23] tobiasdiez commented on #480
Okay, here you go: https://stackblitz.com/edit/github-7j6u77?file=.eslintrc.cjs,test.vue
I've only added the small processor config to the basic example. This is already enough to trigger the issue.

[2022-09-20 15:45] Lugribossk opened #1161 "Preprocessing error on invalid files"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-20 17:02] dylanwulf commented on #1116
Hello, I would love to see this fixed and I'm happy that someone has created a PR for this already. I noticed that the PR was created on your fork instead of on this repo, maybe it would have a better chance of getting reviewed if the PR were submitted to this repo instead?

[2022-09-23 19:42] B2o5T commented on #1146
Hi @Berger92 👋 and sorry for the long time fixing this issue (was too busy with another open source project 😄), I don't think `Required<RuleMetaData['docs']>` is the right way as:
1. it's requires always set `recommended` to `true`/`false` (setting `false` for me it's redundant)
2. it's requires always set `suggestions` field to `true`/`false`, but this field is marked as deprecated and should be

[2022-09-23 23:03] #1155 closed

[2022-09-23 23:25] B2o5T commented on #1158
Hi @jlowcs ! Sorry for the silence, I can't reproduce it, can you add a simple reproduction repo? Can't reproduce on my side 🤨

[2022-09-23 23:34] B2o5T commented on #1161
Hi @Lugribossk ! Can you add an example of invalid file?

[2022-09-23 23:36] B2o5T commented on #1159
closing for now, feel free to ask if you still need help

[2022-09-23 23:36] #1159 closed

[2022-09-23 23:50] B2o5T commented on #1145
Hi @shogunsea, nice catch 🙈 I know about this issue 🙂, it happens because I run tests 2 times, the first one with the default eslint rule tester
https://github.com/B2o5T/graphql-eslint/blob/5336c0a0212b74bb9c333b0311ab1ce62248404f/packages/plugin/src/testkit.ts#L85

and the second with snapshot rule tester

https://github.com/B2o5T/graphql-eslint/blob/5336c0a0212b74bb9c333b0311ab1ce62248404f/packa

[2022-09-23 23:50] #1145 closed

[2022-09-23 23:53] B2o5T commented on #1143
@BrianBusby please provide reproduction repo and I try to help you

[2022-09-24 11:37] B2o5T commented on #480
@tobiasdiez your error goes from eslint as he doesn't know how to parse `*.vue` files

add https://www.npmjs.com/package/vue-eslint-parser for parsing `*.vue` files

add` @vue/compiler-sfc` to process `*.vue` files with `graphql-tag-pluck` https://github.com/ardatan/graphql-tools/issues/2456

[2022-09-25 15:58] Lugribossk commented on #1161
It looks like it might have to be a file that uses `gql`, but other than that any file with a syntax error will do, e.g.:

![image](https://user-images.githubusercontent.com/1399482/192152974-079708b3-bc17-46b0-9af3-4afadd85e257.png)

[2022-09-25 19:38] shogunsea commented on #1145
SGTM, thanks for the workaround 👍

[2022-09-26 07:36] takumiya081 commented on #1143
I have same issue,  then I create repo.
https://github.com/takumiya081/eslint-graphql-not-work-sample
https://github.com/takumiya081/eslint-graphql-not-work-sample/blob/main/packages/packageB/.eslintrc.js

[code]

[2022-09-26 10:16] Berger92 commented on #1146
@B2o5T Thanks for getting back to me. My proposal was based on not modifying the types, but I like your approach. However, I **disagree** with making `description` and `url` required. That's not the case [in eslint](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/0c0777bd1dd9b34f4fa4e36aecfdc3228e64d454/types/eslint/index.d.ts#L554-L565).

[2022-09-26 10:36] B2o5T commented on #1143
@takumiya081 can confirm your issue, try `3.11.1-alpha-20220926102745-dd5901a` will release today

[2022-09-26 10:42] B2o5T commented on #1161
@Lugribossk can you confirm the presence of your issue on `3.11.1-alpha-20220926102745-dd5901a`  version?

[2022-09-26 10:47] takumiya081 commented on #1143
@B2o5T I try it and works fine 🎉
thank you ❤️

[2022-09-26 11:24] B2o5T commented on #1146
@Berger92 made `description` and `url` optional as well as `meta.docs`

Try `3.11.1-alpha-20220926112156-14d4be3`

[2022-09-26 11:38] Lugribossk commented on #1161
Yes, it still happens on that version.

[2022-09-26 11:42] Berger92 commented on #1146
Yeah, good idea Re `meta.docs` 👍 I'll take a look a bit later today.

[2022-09-26 13:12] #1161 closed

[2022-09-26 13:17] B2o5T commented on #1161
I guess we can back `try`/`catch` statement, so the annoying popup in WebStrom will disappear, anyway ESLint will report about the problem while running eslint in terminal

### before
<img width="577" alt="image" src="https://user-images.githubusercontent.com/7361780/192277721-64b9b0d9-7c07-461d-abca-c8aeb81640b8.png">

### after
<img width="573" alt="image" src="https://user-images.githubusercont

[2022-09-26 13:41] Lugribossk commented on #1161
Awesome, thank you for the fix!

And I think it makes sense to see the error in the terminal, since you run that when you want to know about errors. While the banner shows up when you're in the middle of editing a file.

[2022-09-26 14:18] notjosh opened #1169 "3.11.x crashes when using config without `default` project"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-26 14:37] B2o5T commented on #1169
Hey @notjosh, could you try `3.11.2-alpha-20220926143611-7437e15` alpha version? And I'll release it asap

[2022-09-26 14:48] notjosh commented on #1169
Still no good - `getDefault()` still throws, so `preprocess()` fails repeatedly. If you let it keep running, eventually it segfaults...which is fun :) I'm surprised it doesn't actually show the error...the only way I found this was by adding a `console.log()` inside of `preprocess()`

I did get it working by replacing `.getDefault()` with `.getProjectForFile(filePath)` [here](https://github.com/B2

[2022-09-26 14:50] B2o5T commented on #1169
@notjosh `3.11.2-alpha-20220926144959-f269795` should be good :))

[2022-09-26 14:58] notjosh commented on #1169
Yup, that one's working for me.

[2022-09-26 15:02] B2o5T commented on #1169
Amazing! thank you for the quick feedback, will be released now 😜

[2022-09-26 15:02] #1169 closed

[2022-09-26 15:24] Berger92 commented on #1146
Hi @B2o5T I've taken a look and whilst it doesn't bother my use case, there's something off with it again. It doesn't seem to like the `description` field. Although, this time, I don't know why 🤔
[code]

[2022-09-26 15:55] Berger92 commented on #1146
Actually, having dug deeper, it looks like the same problem as reported in the first comment in this issue: `Omit` and optional field result in an interesting type.
So, you can use the `Required` utility type (notice that it won't change any of the fields inside, it just helps us get the correct type for the Omit)
[code]
or  just manually declare the fields:
[code]

[2022-09-26 16:23] M1CK431 opened #1172 "Why "no-unused-variables" and "no-unused-fragments" rules requires GraphQL Schema and Operations?"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-26 17:03] B2o5T commented on #1146
Hey @Berger92 can you make a PR with your change? :)

[2022-09-26 18:29] JimmyPaolini opened #1173 "graphql-tag-pluck config is broken"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-27 08:15] Berger92 commented on #1146
Sure, I'll crack on with it today.

[2022-09-27 10:50] B2o5T commented on #1146
Hi @Berger92, I decided to not fixing this issue, since it’s issue on your side and maybe due your typescript version.

I already applied your suggestions for fields to mark them as optional, for me this issue is done and completed. Sorry

[2022-09-27 10:50] #1146 closed

[2022-09-27 11:12] jlowcs commented on #1158
I'll try to do that when I have some time

[2022-09-27 11:19] jlowcs opened #1175 "3.11.2: memory issues and Invalid string length"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-09-27 11:20] jlowcs commented on #1175
If I comment out the `files: ['*.graphql'],` override, and on leave the `processor: '@graphql-eslint/graphql'` in, I'm getting:
[code]

[2022-09-27 11:45] Berger92 commented on #1146
Hi @B2o5T , the issue isn't the typescript version (I am also on 4.7.4). As I said it in the first comment ☝️ , it is the `strict` flag in typescript options. I know it is an optional flag, but it does point out the type issue with `RuleDocsInfo`. If you turn on strict mode for this project, you'll see exactly the same error:

![image](https://user-images.githubusercontent.com/8849858/192514686-02

[2022-09-27 11:56] B2o5T commented on #1175
Hi @jlowcs could you create a reproduction of your problem? This will be helpful for me for debug what is wrong

[2022-09-27 13:28] jlowcs commented on #1175
I wish I easily could, but I have no idea what is causing the issue in our projects (they are both quite big and complex), so I don't know where to start to build a reproduction repo. It's probably gonna take me a while to figure that out (and I'm a bit swamped at the moment).

I'll try to get back to this when I have a moment.

[2022-09-27 13:43] B2o5T commented on #1175
Do you have this error on 3.10.0?
Also since error goes from ts-node try to update it

[2022-09-27 13:50] jlowcs commented on #1175
ts-node is up to date

First error (OoM)
- 3.11.1: different error (`parserOptions.schema` missing when it's there)
- 3.10.7: no error

The second error (Invalid string length)
- 3.11.1: no error
- 3.10.7: no error

[2022-09-28 12:08] jlowcs commented on #1175
On the repository where I was able to bump without error, I ended up having issues with slowness in VSCode when the eslint plugin would run. It would take a few seconds instead of being immediate. So I had the revert back to 3.10.7 there as well.

I strongly suspect some kind of memory leak.

[2022-09-28 15:50] rperryng opened #1179 "Composing generic and specific rules for the same node type"
I was hoping to define a "base" `.eslintrc.js` ruleset and then use project-specific `.eslintrc.js` files that "add exceptions".  I cannot use the `# eslint-disable ...` since sometimes the schema is generated from code rather than being hand-written.

At my org we have several GraphQL schemas.  Overtime we would like them to all conform to the same styles, as enforced by `graphql-eslint`.

For ex

[2022-09-28 17:08] B2o5T commented on #1175
Seems it’s a regression by this update https://github.com/B2o5T/graphql-eslint/pull/1156

Still needs some reproduction to figure out why this happens

[2022-09-28 18:44] M1CK431 opened #1180 "Parsing error: [graphql-eslint] Cannot find module 'typescript'"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-10-01 15:44] tobiasdiez commented on #480
Thanks for looking into this @B2o5T. However, I still cannot make it work. In my production env, I do use vue-eslint-parser but that doesn't fix the error. And even after installing `vue` and `@vue/compiler-sfc` into the above reproduction, the error still shows up. It also clearly comes from the graphql processor, as `npx eslint --ext .vue . --debug` shows:

[code]

Debugging a bit, I think the i

[2022-10-05 23:30] shogunsea opened #1191 "Broken autofix for ESLint's `spaced-comment` rule"
**Is your feature request related to a problem? Please describe.**
It looks like the comment node are extracted here: https://github.com/B2o5T/graphql-eslint/blob/4bcee4a7849602076fb9e0d9ab33e78141e20a8e/packages/plugin/src/estree-converter/utils.ts#L109
but since the API conforms to the `SourceLocation` type from estree, there's no actual `comment` field exposed.

Therefore it's not possible to d

[2022-10-07 08:53] B2o5T commented on #1191
Hi, can you send code example of

[2022-10-07 09:26] lacco opened #1195 "graphql-config related performance improvement for processor"
**Is your feature request related to a problem? Please describe.**

In my project, we have a lot of GraphQL operations embedded in `*.ts` files via `gql` tag.
That is why we have a configuration like this:

[code]

Adding the above configuration slows down the execution of `eslint .` from 5s to 15s.
We are not using `graphql-config`, therefore no such file exists.
When adding a graphl config file,

[2022-10-07 09:39] B2o5T commented on #1195
Amazing catch! Thanks ❤️ will fix this week

[2022-10-07 19:01] shogunsea commented on #1191
@B2o5T  hi yes, something like this:
https://github.com/relayjs/eslint-plugin-relay/blob/fcacf1ed69097dd3a47856be8984de45a81c92f7/test/unused-fields.js#L88-L91

[2022-10-08 22:04] B2o5T commented on #1195
Could you test `3.11.3-alpha-20221008220048-6ed3933` and say if your issue was fixed?

[2022-10-08 22:04] B2o5T commented on #1175
Could you test `3.11.3-alpha-20221008220048-6ed3933` and say if your issue was fixed?

[2022-10-08 22:11] B2o5T commented on #1173
Could you test `3.11.3-alpha-20221008220048-6ed3933` and say if your issue was fixed?

also, your graphql config is invalid refactor it like this, and I renamed `graphqlTagPluck` to `pluckConfig`

[code]

[2022-10-08 23:27] B2o5T commented on #480
@tobiasdiez You are right, sorry for my misunderstanding (since I don't use vue 😜).

I replaced `gqlPluckFromCodeStringSync` with `parseCode` and now `graphql-eslint` support both extracting GraphQL documents from `vue`/`svelte` code files 🎉!

You can try alpha version `3.12.0-alpha-20221008232037-33da317`
and take a look of new examples, including `vue`/`svelte` setup here https://github.com/B2o5

[2022-10-09 00:34] B2o5T commented on #1191
the following comment disables report of error on my side
<img width="544" alt="image" src="https://user-images.githubusercontent.com/7361780/194732225-58feb2c5-a216-42ad-9f06-18ff2970faad.png">

[2022-10-09 18:04] shogunsea commented on #1191
@B2o5T that's interesting, I wonder if it's because the file is a JS file and it's the babel parser in play? Could you try to see if the comment works for a `.graphql` file?

[2022-10-09 18:34] B2o5T commented on #1191
I don’t need to test, it works, please create a reproduction of your problem with your configuration with minimal dependencies installed if you need help

[2022-10-10 04:32] shogunsea commented on #1191
@B2o5T ah yeah it actually works. It turns out [this rule](https://eslint.org/docs/latest/rules/spaced-comment) is causing some kind of conflicts with the comment line in my .graphql file, after disabling that rule it's working as expected, I'm guessing it's handled at higher level by eslint instead of needs to be explicitly supported by the parser itself.

[2022-10-10 13:39] B2o5T commented on #1195
should be fixed in `@graphql-eslint/eslint-plugin@3.12.0`

[2022-10-10 13:39] #1195 closed

[2022-10-10 13:40] B2o5T commented on #1175
should be fixed in `@graphql-eslint/eslint-plugin@3.12.0`

[2022-10-10 13:40] #1175 closed

[2022-10-10 13:40] B2o5T commented on #1173
should be fixed in `@graphql-eslint/eslint-plugin@3.12.0`

[2022-10-10 13:40] #1173 closed

[2022-10-10 13:40] B2o5T commented on #480
should be fixed in `@graphql-eslint/eslint-plugin@3.12.0`

[2022-10-10 13:43] jlowcs commented on #1175
Tested `3.12.0-alpha-20221010131634-608c49a` on 3 projects:
- the one with "JavaScript heap out of memory" => issue is not occurring anymore
- the one with "Cannot read config file" => issue is not occurring anymore
- one with VSCode slowness => issue doesn't seem to be occurring anymore

[2022-10-10 13:46] B2o5T commented on #1175
@jlowcs thank you! 🎉🚀

[2022-10-10 14:01] JimmyPaolini commented on #1173
Yup it now properly loads my graphql-tag-pluck config, thank you!

[2022-10-10 17:11] lacco commented on #1195
@B2o5T Amazing work!
Confirmed that `3.12.0` is much faster when using the processor without a `graphl-config` file ❤️

[2022-10-11 17:52] B2o5T commented on #1191
@shogunsea I reopened your PR to figure out why there are conflicts with `spaced-comment` rule when I'll have a time

[2022-10-12 04:11] ghmeier commented on #1116
Great call @dylanwulf, I've added a PR https://github.com/B2o5T/graphql-eslint/pull/1207

[2022-10-12 10:39] B2o5T commented on #1116
@ghmeier Thanks for your work, this issue is similar to https://github.com/B2o5T/graphql-eslint/issues/593

I see already an issue in your PR:
- you will add schema files to the cache also, and we don't want it (or maybe I'm wrong)
- when you remove the operation from the code file -> operation will be still present in the cache
- you marked as there are some tests, but tests are missing

I plan t

[2022-10-12 11:26] jbrangwyn opened #1208 "rule @graphql-eslint/unique-type-names does not check multiple files"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-10-12 13:48] B2o5T commented on #1208
worked as expected since we are unable to build GraphQL schema, I tried a lot of things but this cannot be fixed
more info in my comment https://github.com/B2o5T/graphql-eslint/issues/787#issuecomment-1003617324

[2022-10-12 13:48] #1208 closed

[2022-10-16 11:56] tobiasdiez commented on #480
Thanks a lot, it is indeed working now. Nice!

Two things I've observed so far:
- the graphql processor overrides the vue processor, so that some vue rules are no longer working. In particular, `vue/comment-directive` needs to be disabled otherwise one gets "clear" error messages in every vue file. i guess one has to wait for https://github.com/eslint/eslint/issues/14745 to be fixed.
- the errors

[2022-10-16 11:59] B2o5T commented on #480
could you send a code snippet with wrong line?

[2022-10-16 12:42] tobiasdiez commented on #480
Just add a template tag at the beginning of the existing example:
[code]

The errors are still claimed to be on line 5 and 13 although they should be 3 lines (= lines of template) further down.

[2022-10-19 21:35] ghmeier commented on #1116
Glad this is a priority in the next sprint. You're welcome to make modifications to my PR to fix those issues. I mostly put it up as a starting point and conversation starter.

Could you point to where you see that? From what I can see, the logic for handling files and adding them to the cache is the same as it is currently.

This is true, but perhaps a separate bug since that also already exists

[2022-10-27 15:07] Berger92 opened #1232 "Caching issue with `getSchema` function"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-10-30 00:06] B2o5T commented on #1232
Hi ! Future release with cache invalidation could be tested in the following alpha version `3.13.0-alpha-20221024000319-1089aa0`

[2022-10-30 00:07] B2o5T commented on #1116
Hi @ghmeier @dylanwulf  ! Future release with cache invalidation could be tested in the following alpha version `3.13.0-alpha-20221024000319-1089aa0`

[2022-10-30 00:11] B2o5T commented on #593
Hi @nodkz @jonnyasmar @joshribakoff-sm @SimonSimCity @Axedyson, @matthew-valenti, @acidoxee and @jonnyasmar ! Future release with cache invalidation could be tested in the following alpha version `3.13.0-alpha-20221024000319-1089aa0`

[2022-11-01 14:38] B2o5T commented on #593
released in [`@graphql-eslint/eslint-plugin@3.13.0`](https://github.com/B2o5T/graphql-eslint/releases/tag/release-1667313303457)

[2022-11-01 14:38] #593 closed

[2022-11-01 14:38] B2o5T commented on #1232
released in [`@graphql-eslint/eslint-plugin@3.13.0`](https://github.com/B2o5T/graphql-eslint/releases/tag/release-1667313303457)

[2022-11-01 14:38] #1232 closed

[2022-11-01 14:38] B2o5T commented on #1116
released in [`@graphql-eslint/eslint-plugin@3.13.0`](https://github.com/B2o5T/graphql-eslint/releases/tag/release-1667313303457)

[2022-11-01 14:38] #1116 closed

[2022-11-01 15:35] joshribakoff-sm commented on #593
@B2o5T It does not seem to behave any differently after upgrading, after editing my schema to comment and uncomment a field, the lint error in a separate query file does not go away / come back until I reload the VScode window.

I have a `.graphqlconfig` at the top of my repo:

[code]

[2022-11-01 15:44] B2o5T commented on #593
It has a 10secs delay to omit reloading schema/documents on every file change

[2022-11-01 16:11] joshribakoff-sm commented on #593
Looks like closing the document in my editor, and opening that file again works. I guess it's a limitation of vscode itself that it doesn't know to re-run linting on the document when the schema has changed. Another workaround seems to be to make any edit to the document and then undo the change, which also forces the linter to run.

[2022-11-01 17:08] B2o5T commented on #593
@joshribakoff-sm if you have any idea how this can be improved feel free to share :) for the invalidation cache I was inspired by eslint-plugin-import solution

[2022-11-03 18:17] markrian opened #1246 "Significantly increased memory usage in 3.13.0"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-11-05 23:11] B2o5T commented on #1246
@markrian thanks for the detailed report, and sorry for this (:

this should be fixed in `3.13.1` version

[2022-11-07 13:22] markrian commented on #1246
@B2o5T Thanks for the fast reply and fix!

Unfortunately, I'm still seeing memory issues with 3.13.1. See this [job failure](https://gitlab.com/gitlab-org/gitlab/-/jobs/3284136880), which ran against [3.13.1](https://gitlab.com/gitlab-org/gitlab/-/commit/8da7a797538e13bd07f4f1e553cb5147b030dd7d).

So, I'm going to reopen this. Let me know if you'd like more information or a reduced test case for t

[2022-11-07 15:35] B2o5T commented on #1246
do you have a failure locally as well?

[2022-11-09 12:48] markrian commented on #1246
I ran some tests locally, and I found 3.13.0 uses around 1.5GiB compared to 1.4GiB for 3.12.0 and 3.13.1 for that particular job. That doesn't sound like much, but maybe that's just enough to get killed in our CI (I'm not sure exactly what resource limits are like there).

As far as I can tell, yes, `NODE` is defined in our CI for that job: https://gitlab.com/gitlab-org/gitlab/-/jobs/3296964272#L7

[2022-11-09 14:09] B2o5T commented on #1246
Between `3.12.0` and `3.13.0` I also updated `graphql-tools/utils`, I tried to downgrade it to the same version as in `3.12.0`, could you test following alpha version if it fixes your issue? `3.13.2-alpha-20221109140613-1815aa1`

[2022-11-09 15:57] markrian commented on #1246
Sadly it still [OOMs](https://gitlab.com/gitlab-org/gitlab/-/jobs/3298308154). It's frustrating that I can't replicate this locally :weary:

I think I might just set `NODE_OPTIONS=--max-old-space-size=3584` for now instead, or at least try different values.

[2022-11-09 17:18] markrian commented on #1246
Huh, even with `NODE_OPTIONS=--max-old-space-size=3584` [it got killed](https://gitlab.com/gitlab-org/gitlab/-/jobs/3298634585) :thinking:

I'm going to have to put this aside for now and stay on 3.12.0 until I have more time to look into this.

[2022-11-14 12:56] mvnrhd opened #1266 "No lint errors or warnings shown in VSCode"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-11-14 13:20] B2o5T commented on #1266
`"ignorePatterns": ["**/*"]` because you ignore every file

[2022-11-14 14:01] mvnrhd commented on #1266
@B2o5T maybe I should have explained my setup better, sorry for that.
The `eslintrc.json` from the description is the root configuration file in a Nx monorepo, which is generated with this `ignorePatterns` configuration by default.
The TypeScript file I expect to be linted is located in a library, located in a subfolder. This library itself contains an `eslintrc.json` which extends the root config

[2022-11-14 14:21] B2o5T commented on #1266
Sorry, your configuration seems over-complicated for me, different worked examples are located in the repository https://github.com/B2o5T/graphql-eslint/tree/master/examples

[2022-11-14 16:36] mvnrhd commented on #1266
@B2o5T well, this is the default setup of a generated Angular application with Nx. 🤷🏼‍♂️ But in that case, I'll try to figure it out by myself 🙂

[2022-11-14 17:49] B2o5T commented on #1266
@mvnrhd probably you are missed `"root": true` in eslint configs from nested folders, so they are never applied and top level config with ˋignore all files` is applied.

[2022-11-17 12:27] taejs commented on #1191
1.
[code]

2.
[code]

The error occurs when comments are written without a space in the schema (Second one)

[2022-11-26 23:35] ZiiMakc opened #1276 "Plugin doesn't work with esm project configuration"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-11-26 23:59] B2o5T commented on #1276
Could you provide reproduction repo?